body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  background-color: #e5e5e5;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}

.card {
  flex: 0 1 40%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #02aeaf;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.1);
}

.card h2 {
  color: #41b3a3;
  cursor: pointer;
}

.select {
  border: none;
  font-size: 1rem;
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #41b3a3;
  max-width: 10rem;
}

.header {
  padding: 1rem 6rem;
}

.toolbar {
  padding: 1rem 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toolbar input[type="text"] {
  padding: 0.6rem 1rem;
  width: 15rem;
}

.toolbar input[type="date"] {
  padding: 0.5rem 1rem;
  width: 15rem;
  cursor: pointer;
}

.sortbtn {
  padding: 0.8rem 1rem;
  margin: auto 1rem;
  background: #ffffff;
  color: #02aeaf;
  border: 1px solid #02aeaf;
  border-radius: 2px;
  cursor: pointer;
}

.ml-2 {
  margin-left: 2rem;
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #02aeaf;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1rem, -1rem);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  margin: auto;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #02aeaf;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.frame {
  width: 100%;
  overflow: hidden;
}

.box-container {
  display: flex;
}

.box {
  box-sizing: border-box;
  border: 5px solid #fff;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  background: #02aeaf;
  color: #fff;
  width: 50px;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  border-radius: 2px;
}

.button-2-container {
  display: flex;
}

.button-2 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #e0e0e0;
  margin: 6px;
  cursor: pointer;
}

.active {
  background: #999;
}
